<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="icon" type="image/x-icon" href="{{asset "img/favicon.ico"}}" />
    <link rel="apple-touch-icon" href="{{asset "img/apple-touch-icon.png"}}" />
    <script>
        function toggleTopNav() {
            var navContainer = document.getElementById('navbarCollapseDiv');
            if (navContainer.style.display == 'block') {
                navContainer.style.display = 'none';
            } else {
                navContainer.style.display = 'block';
            }
        }
    </script>


    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} blog">
    <div class="tail">
        <div></div>
    </div>
    <div class="bigbubble"></div>
    <!-- navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="decorative-corner-right"><div></div></div>
            <div class="navbar-header">
                <!--button type="button" class="navbar-toggle" later when more links
                onclick="toggleTopNav();">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button -->
                <a class="navbar-brand" href="http://getyodlr.com">Yodlr</a>
            </div>

            <div class="navbar-collapse" data-ng-controller="navbarCtrl" id="navbarCollapseDiv">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{@blog.url}}">Blog Home</a></li>
                    <li><a class="subscribe-button" href="{{@blog.url}}/rss/">RSS</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>
    <div class="container yodlr-content">

    {{! Everything else gets inserted here }}
    {{{body}}}

    </div>
    <!-- footer -->
    <div class="footer yodlr-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        &copy; Yodlr 2015. All rights reserved.
                        <a href="http://twitter.com/getyodlr">
                          <i class="fa fa-twitter-square fa-2x"></i>
                        </a>
                        <a href="http://www.linkedin.com/company/yodlr">
                          <i class="fa fa-linkedin-square fa-2x"></i>
                        </a>
                    </p>
                    <div class="pull-right">
                        <ul class="list-inline">
                              <li><a href="http://blog.getyodlr.com/">Blog</a></li>
                              <li><a href="https://getyodlr.com/contact">Contact</a></li>
                              <li><a href="https://getyodlr.com/jobs">Jobs</a></li>
                              <li><a href="https://getyodlr.com/faq">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40088568-4', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
