<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />


    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} blog">
    <!-- navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" data-ng-cloak>
        <div class="container">
            <div class="navbar-header">
                <!-- if nav gets more links
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                -->
                <a class="navbar-brand" href="http://getyodlr.com">Yodlr</a>
            </div>

            <div class="" data-ng-controller="navbarCtrl">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="subscribe-button" href="{{@blog.url}}/rss/">Subscribe</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer clearfix">
        <div class="footer yodlr-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-muted">
                        &copy; Yodlr 2015. All rights reserved.
                            <a href="http://twitter.com/getyodlr">
                              <i class="fa fa-twitter-square fa-2x"></i>
                            </a>
                            <a href="http://www.linkedin.com/company/yodlr">
                              <i class="fa fa-linkedin-square fa-2x"></i>
                            </a>
                        </p>
                        <div class="pull-right">
                            <ul class="list-inline">
                              <li><a href="http://blog.getyodlr.com/">Blog</a></li>
                              <li><a href="http://getyodlr.com/#/contact">Contact</a></li>
                              <li><a href="http://getyodlr.com/#/jobs">Jobs</a></li>
                              <li><a href="http://getyodlr.com/#/faq">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
